<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @podcast.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @podcast.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @podcast.description %>
</p>

<%= link_to "UPDATE FEED", update_feed_podcast_path(@podcast) %> |
<%= link_to 'Edit', edit_podcast_path(@podcast) %> |
<%= link_to 'Back', podcasts_path %>

<%= link_to 'New Episode', new_podcast_episode_path(@podcast) %>

<% @podcast.episodes.order('pubdate DESC').group_by(&:pubdate).each do |pubdate, episodes| %>
  <h3><%= pubdate.strftime("%m/%d/%y at %I:%M%p %Z") if pubdate %></h3>  	
  <% episodes.each do |episode| %>
  	<p><%= episode.title %> (Guests: <%= episode.guests.collect(&:name).join(", ") %>)</p>
    <% if episode.upload.present? %>
      <audio controls>
        <source src="<%= episode.upload.url %>" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
    <% end %>
  <% end %>
<% end %>
